apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
data:
  rules.yaml: |
    docker:
    - applicationName: 'rabbitmq'
      detectionRegex: '\/rabbitmq:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'redis'
      detectionRegex: '\/redis:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'memcached'
      detectionRegex: '\/memcached:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'victoriametrics'
      detectionRegex: 'victoriametrics\/victoria-metrics:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'envoy'
      detectionRegex: '\/envoy:'
      versionRegex: '(:(.*-)?v(\d+)\.(\d+)(.\d+)?(-latest)?)$'

    - applicationName: 'ingress-nginx'
      detectionRegex: '\/ingress-nginx\/controller:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'nginx-opentracing'
      detectionRegex: '\/nginx-opentracing:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'proxysql'
      detectionRegex: '\/proxysql:'
      versionRegex: ':(\d+)\.(\d+)(\.\d+)?$'

    - applicationName: 'nginx'
      detectionRegex: '(\/)?nginx:'
      versionRegex: ':(\d+)\.(\d+)(\.\d+)?$'

    - applicationName: 'headscale'
      detectionRegex: 'ghcr\.io\/gurucomputing\/headscale-ui:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'elasticsearch'
      detectionRegex: 'docker\.elastic\.co\/elasticsearch\/elasticsearch:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'

    - applicationName: 'synapse'
      detectionRegex: 'ghcr\.io\/code-tool\/matrix-stack/synapse:'
      versionRegex: '(:(v)?(\d+)\.(\d+)(\.(\d+))?)((@sha)?.*)?$'
